<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>redValue</key>
	<real>1</real>
	<key>greenValue</key>
	<real>1</real>
	<key>blueValue</key>
	<real>1</real>
	<key>dimLevel</key>
	<real>1</real>
	<key>enabled</key>
	<false/>
	<key>dimEnabled</key>
	<false/>
	<key>rgbEnabled</key>
	<false/>
	<key>darkroomEnabled</key>
	<false/>
	<key>colorChangingNightEnabled</key>
	<false/>
	<key>maxOrange</key>
	<real>0.3111111111</real>
	<key>nightOrange</key>
	<integer>0</integer>
	<key>dayOrange</key>
	<integer>1</integer>
	<key>currentOrange</key>
	<integer>1</integer>
	<key>colorChangingEnabled</key>
	<false/>
	<key>lastAutoChangeDate</key>
	<date>0000-12-30T00:00:00Z</date>
	<key>autoStartHour</key>
	<integer>19</integer>
	<key>autoStartMinute</key>
	<integer>0</integer>
	<key>autoEndHour</key>
	<integer>7</integer>
	<key>autoEndMinute</key>
	<integer>0</integer>
	<key>nightStartHour</key>
	<integer>23</integer>
	<key>nightStartMinute</key>
	<integer>0</integer>
	<key>nightEndHour</key>
	<integer>6</integer>
	<key>nightEndMinute</key>
	<integer>0</integer>
	<key>colorChangingLocationLatitude</key>
	<integer>0</integer>
	<key>colorChangingLocationLongitude</key>
	<integer>0</integer>
	<key>colorChangingLocationEnabled</key>
	<false/>
	<key>suspendEnabled</key>
	<true/>
	<key>forceTouchEnabled</key>
	<true/>
	<key>tempForceTouch</key>
	<true/>
	<key>dimForceTouch</key>
	<false/>
	<key>rgbForceTouch</key>
	<false/>
	<key>peekPopEnabled</key>
	<true/>
	<key>keyEnabled</key>
	<string>0</string>
	<key>lastBackgroundCheck</key>
	<date>0000-12-30T00:00:00Z</date>
</dict>
</plist>
